@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





.App {
  text-align: center;
}






.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  
}

.completed {
  color: #c5aeff;
  text-decoration:line-through;
  cursor: pointer;
}

